@import './reset.css';
@import './vars.css';
@import './utils.css';
@import './header.css';
@import './nav.css';
@import './hero.css';
@import './remoting.css';
@import './integrations.css';
@import './workstyle.css';
@import './stats.css';
@import './comments.css';
@import './signup.css';
@import './footer.css';

@font-face {
    font-family: Roboto;
    src: local('Roboto'), 
         url('../fonts/roboto/roboto-regular.woff2'),
         format('woff2');
}

html {
    font-size: 16px;
}
body {
    font: 1.125rem / 1.33333
          Roboto, sans-serif;
    color: var(--navy-color);
}
body._lock {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1200px;
}
.button {
    background: var(--blue-color);
    color: #fff;
    border: 1px solid var(--blue-color);
}
.button:not(.header__button) {
    padding: 12px;
    border-radius: 32px;
}