  /* ------HOVER EFFECT------ */

  @media (hover:hover) {
    .button:hover {
      background: #fff;
      color: var(--blue-color);
    }
    .nav-link:hover,
    .link:hover {
      text-decoration: 1px underline;
      text-underline-offset: 4px;
    }
    .stats__link:hover {
      opacity: 0.65;
    }
    .comments__button:hover {
      background: var(--blue-color);
      color: #fff;
    }
  }
  @media (hover:none) {
    .button:active {
      background: #fff;
      color: var(--blue-color);
    }
    .nav-link:active,
    .link:active {
      text-decoration: 1px underline;
      text-underline-offset: 4px;
    }
    .stats__link:active {
      opacity: 0.65;
    }
    .comments__button:active {
      background: var(--blue-color);
      color: #fff;
    }
  }

  /* ------/HOVER EFFECT------ */

  @media (max-width: 1599.98px) {}
  @media (max-width: 1399.98px) {}
  @media (max-width: 1199.98px) {

    /* ------COMMENTS------ */

    .comments .container {
      padding: 0 60px;
    }

    /* ------/COMMENTS------ */

  }
  @media (max-width: 991.98px) {
    .h2 {
      font-size: 2.5rem;
    }

    /* ------HEADER------ */

    .header__logo {
      display: flex;
      align-items: center;
    }
    .header__control {
      gap: 60px;
    }

    /* ------BURGER------ */

    .header-nav__list {
      position: fixed;
      display: block;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.4s;
      transform: translate(0, -100%);
      overflow: auto;
    }
    .header__nav::before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 92px;
      background-color: transparent;
      z-index: 8;
    }
    .header-nav__list.active {
      top: 0;
      transform: translate(0, 0);
    }
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 10;
      border: none;
      background-color: transparent;
    }
    .header__burger::before,
    .header__burger::after,
    .header__burger span {
      transition: 0.4s;
      height: 10%;
    }
    .header__burger::before,
    .header__burger::after {
      content: "";
      position: absolute;
      background-color: var(--navy-color);
      width: 100%;
      left: 0;
    }
    .header__burger::before {
      top: 0;
    }
    .header__burger::after {
      bottom: 0;
    }
    .header__burger span {
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      background-color: var(--navy-color);
      transform: scale(1) 
                 translate(0, -50%);
    }
    .header__burger.active span {
      transform: scale(0) 
                 translate(0, -50%);
    }
    .header__burger.active::before {
      top: 50%;
      transform: rotate(-45deg) 
                 translate(0, -50%);
    }
    .header__burger.active::after {
      bottom: 50%;
      transform: rotate(45deg) 
                 translate(0, 50%);
    }

    /* ------/BURGER------ */
  
    .header-nav__list {
      display: block;
      padding: 93px 20px 20px;
    }
    .header-nav__item {
      margin-bottom: 14px;
    }
    
     /* ------/HEADER------ */

     /* -------HERO------ */

     .hero__content {
      max-width: 300px;
     }
     .main-title {
      font-size: 2.75rem;
     }
     .hero__desc {
      margin-bottom: 36px;
     }

     /* -------/HERO------ */

     /* ------TABS------ */

     .tabs .container {
      padding: 0 40px;
    }
     .tabs__wrapper {
      max-width: 550px;
     }

     /* ------/TABS------ */

     /* ------STATS------ */

     .stats__link.link {
      margin-bottom: 70px;
     }
     .stats__grid {
      row-gap: 60px;
     }

     /* ------/STATS------ */

     /* ------COMMENTS------ */

     .comments .container {
        padding: 0 40px;
     }
     .comments__comment {
        min-height: initial;
     }

     /* ------/COMMENTS------ */

  }

  @media (max-width: 767.98px) {
    .h2 {
      font-size: 2rem;
    }

    /* ------HEADER------ */

    .header__control {
      gap: 26px;
    }
    .header__button {
      padding: 14px 22px;
      font-size: 0.75rem;
    }

    /* ------/HEADER------ */

    /* -------HERO------ */

    .hero__container {
      flex-flow: column;
    }
    .hero__container > * {
      max-width: 100%;
    }
    .main-title {
      font-size: 2.125em;
    }

    /* -------/HERO------ */

    /* ------TABS------ */

    .tabs__button {
      padding: 12px 16px;
    }
    .tabs__content {
      flex-flow: column;
      gap: 50px;
    }
    .tabs__content > *, .workstyle__desc {
      max-width: 100%;
    }

    /* ------/TABS------ */
    
    /* ------SIGNUP------ */

    .signup {
      margin-bottom: 0;
      background: var(--navy-color);
    }
    .signup__content {
      padding: 80px 0;
      border-radius: 0;
    }

    /* ------/SIGNUP------ */

    /* ------FOOTER------ */

    .footer-links__list {
      margin-bottom: 50px;
    }

    /* ------/FOOTER------ */

  }
  @media (max-width: 575.98px) {
    body {
      font-size: 1rem;
    }
    .container,
    .tabs .container,
    .comments .container {
      padding: 0 20px;
    }
    .h2 {
      font-size: 1.75rem;
    }
    .button:not(.header__button) {
      font-size: 1rem;
    }

    /* ------HEADER------ */

    .header .container {
      padding: 15px;
    }
    .header-nav__item-sighup {
      display: block;
    }
    .header__control {
      gap: 18px;
    }
    .header__lang {
      display: none;
    }

    /* ------/HEADER------ */

    /* -------HERO------ */

    .hero {
      padding-top: 100px;
    }
    .main-title {
      font-size: 1.875rem;
    }
    .hero-form__input {
      font-size: 1rem;
    }

    /* -------/HERO------ */

    /* ------TABS------ */

    .tabs .container {
      padding: 0 20px;
    }
    .tabs__buttons {
      margin-bottom: 32px;
    }
    .tabs__button {
      padding: 10px 15px;
      font-size: 0.75rem;
    }
    .tabs__content {
      font-size: 1rem;
    }
    .tabs__details {
      margin-top: 0;
    }

    /* ------/TABS------ */

    /* ------STATS------ */

    .stats .container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .stats__grid {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
    .stats__link.link, 
    .stats__grid {
      font-size: 1rem;
    }
    .stats__wrapper {
      margin-bottom: 28px;
      max-width: 180px;
      max-height: 37px;
    }

    /* ------/STATS------ */

    /* ------COMMENTS------ */

    .comments__button {
      font-size: 0.875rem;
    }
    .comments__grid {
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
      row-gap: 60px;
    }
    .comments__wrapper {
      max-width: 150px;
      height: fit-content;
    }
    .comments__wrapper-frog {
      max-width: 80px;
    }
    .comments__comment {
      margin-bottom: 36px;
    }

    /* ------/COMMENTS------ */

  }
