  /* ------HOVER EFFECT------ */

  @media (hover:hover) {
    .button:hover {
      background: #fff;
      color: var(--blue-color);
      transition: 0.3s ease-in-out;
    }
    .header-nav__link:hover {
      opacity: 0.65;
    }
  }
  @media (hover:none) {
    .header-nav__link:active {
      opacity: 0.65;
    }
    .button:active {
      background: #fff;
      color: var(--blue-color);
      transition: 0.3s ease-in-out;
    }
  }

  /* ------/HOVER EFFECT------ */

  @media (max-width: 1599.98px) {}
  @media (max-width: 1399.98px) {}
  @media (max-width: 1199.98px) {}
  @media (max-width: 991.98px) {

    /* ------HEADER------ */

    .header__logo {
      display: flex;
      align-items: center;
    }
    .header__control {
      gap: 60px;
    }

    /* ------BURGER------ */

    .header-nav__list {
      position: fixed;
      display: block;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.4s;
      transform: translate(0, -100%);
      overflow: auto;
    }
    .header__nav::before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      background-color: transparent;
      z-index: 8;
    }
    .header-nav__list._active {
      top: 0;
      transform: translate(0, 0);
    }
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 10;
      border: none;
      background-color: transparent;
    }
    .header__burger::before,
    .header__burger::after,
    .header__burger span {
      transition: 0.4s;
      height: 10%;
    }
    .header__burger::before,
    .header__burger::after {
      content: "";
      position: absolute;
      background-color: var(--navy-color);
      width: 100%;
      left: 0;
    }
    .header__burger::before {
      top: 0;
    }
    .header__burger::after {
      bottom: 0;
    }
    .header__burger span {
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      background-color: var(--navy-color);
      transform: scale(1) 
                 translate(0, -50%);
    }
    .header__burger._active span {
      transform: scale(0) 
                 translate(0, -50%);
    }
    .header__burger._active::before {
      top: 50%;
      transform: rotate(-45deg) 
                 translate(0, -50%);
    }
    .header__burger._active::after {
      bottom: 50%;
      transform: rotate(45deg) 
                 translate(0, 50%);
    }

    /* ------/BURGER------ */
  
    .header-nav__list {
      display: block;
      padding: 93px 20px 20px;
    }
    .header-nav__item {
      margin-bottom: 14px;
    }
    
     /* ------/HEADER------ */

     /* -------HERO------ */

     .hero__content {
      max-width: 300px;
     }
     .main-title {
      font-size: 2.75rem;
     }
     .hero__desc {
      margin-bottom: 36px;
     }

     /* -------/HERO------ */

  }

  @media (max-width: 767.98px) {

    /* ------HEADER------ */

    .header__control {
      gap: 26px;
    }
    .header__button {
      padding: 14px 22px;
      font-size: 0.75rem;
    }

    /* ------/HEADER------ */

    /* -------HERO------ */

    .hero__container {
      flex-flow: column;
    }
    .hero__container > * {
      max-width: 100%;
    }
    .main-title {
      font-size: 2.125em;
    }

    /* -------/HERO------ */

  }
  @media (max-width: 575.98px) {
    .container {
      padding: 0 20px;
    }

    /* ------HEADER------ */

    .header .container {
      padding: 15px;
    }
    .header-nav__item-sighup {
      display: block;
    }
    .header__control {
      gap: 18px;
    }
    .header__lang {
      display: none;
    }

    /* ------/HEADER------ */

    /* -------HERO------ */

    .hero {
      padding-top: 100px;
    }
    .main-title {
      font-size: 1.875rem;
    }
    .hero__desc,
    .hero-form__input,
    .hero-form__button {
      font-size: 1rem;
    }

    /* -------/HERO------ */

  }
