.header__nav {
    gap: 24px;
}
.header__logo {
    align-self: start;
    position: relative;
    z-index: 50;
}
.header-nav__list {
    gap: 34px;
    position: relative;
    z-index: 10;
}
.header-nav__link {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--text-color);
}
.header-nav__item-sighup {
    display: none;
}