.stats {
    margin-bottom: 118px;
    background: var(--yellow-color);
    text-align: center;
}
.stats .container {
    padding-top: 118px;
    padding-bottom: 118px;
}
.stats__title {
    margin: 0 auto 18px;
    max-width: 525px;
}
.stats__link.link {
    margin-bottom: 135px;
    color: var(--navy-color);
    text-decoration: 1px underline;
    text-underline-offset: 4px;
}
.stats__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 156px 20px;
}
.stats__wrapper {
    margin-bottom: 37px;
    max-width: 225px;
    max-height: 46px;
}
.stats__img {
    object-fit: initial;
    max-width: inherit;
    max-height: inherit;
}